<ion-view view-title="Ingreso">
  <ion-content>
    <div class="row">
      <div class="col col-80 col-offset-10">
        <button 
        class="button icon-left ion-social-facebook button-positive button-block">
          Facebook
        </button>
        <button
        class="button icon-left ion-social-twitter button-calm button-block">
          Twitter
        </button>
      </div>
    </div>
    <h5 class="text-center">Ó</h5>
    <form name="FormLogin">
      <ion-list>
        <label class="item item-input">
          <input type="email" placeholder="Tu correo" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Tu contraseña" required>
        </label>
      </ion-list>
      <div class="padding">
        <a href="#/tab/activity" class="button button-block button-assertive">
          Ingresar
        </a>
      </div>
    </form>
  </ion-content>
</ion-view>

