<ion-view view-title="Grupos">
  <ion-content class="groups">
    <ion-item class="item item-divider">
      TUS GRUPOS
    </ion-item>
    <div class="row">
      <div class="col col-50" ng-repeat="group in groups">
        <ion-list type="card">
          <ion-item class="item-image">
            <img ng-src="{{ group.image }}" class="full-image" alt="">
          </ion-item>
          <ion-item>
            <h2>{{ group.name }}</h2>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>

