<ion-view view-title="Calendario">
  <ion-content>
    <ion-list ng-repeat="date in dates">
      <ion-item class="item-divider">
        {{ date.dateGroup | date: "short" }}
      </ion-item>
      <ion-item 
      ng-repeat="event in date.events" 
      ng-class="{ 'check' : event.check }">
        <div class="row">
          <div class="col col-25">
            <small>{{ event.time | date: "shortTime" }}</small>
            <p ng-show="event.check"><i class="icon ion-checkmark-circled"></i></p>
          </div>
          <div class="col col-75">
            <h4>{{ event.group }}</h4>
            <h2>{{ event.name }}</h2>
            <p>{{ event.attendees }} Asistentes</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

