<ion-view view-title="Perfil">
  <ion-content>
    <ion-list type="card">

      <ion-item class="item-avatar">
        <img ng-src="{{ user.image }}">
        <h2>{{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </ion-item>

      <ion-item class="item-body">
        <p>{{ user.bio }}</p>
      </ion-item>
      
      <ion-item class="item-icon-left">
        <i class="icon ion-email"></i>
        {{ user.email }}
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        {{ user.phone }}
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>

