<ion-view view-title="Actividad">
  <ion-content>
    <h5 class="padding">
      <span class="badge badge-assertive">
        {{ notifications.length }}
      </span> NOTIFICACIONES
    </h5>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-repeat="notification in notifications">
        <img ng-src="{{ notification.picture }}" alt="profile">
        <h2>{{ notification.name }}</h2>
        <p>{{ notification.text }}</p>
        <small>{{ notification.date | date: "shortTime" }}</small>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

