<ion-view view-title="Actividad">
  <ion-content>
    <h5 class="padding">
      <span class="badge badge-assertive">0</span> NOTIFICACIONES
    </h5>
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img src="img/adam.jpg" alt="profile">
        <h2>Adam</h2>
        <p>ha hecho un comentario</p>
        <small>3:05:08 PM</small>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="img/ben.png" alt="profile">
        <h2>Ben</h2>
        <p>ha agregado un evento</p>
        <small>2:15:08 PM</small>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="img/ionic.png" alt="profile">
        <h2>Hybrid Apps Colombia</h2>
        <p>ha anunciando un nuevo evento</p>
        <small>12:05:08 PM</small>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="img/mike.png" alt="profile">
        <h2>Mike</h2>
        <p> ha agregado un evento</p>
        <small>12:05:08 PM</small>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="img/perry.png" alt="profile">
        <h2>Perry</h2>
        <p> ha agregado un evento</p>
        <small>12:05:08 PM</small>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

