<ion-view view-title="Grupos">
  <ion-content class="groups">
    <ion-item class="item item-divider">
      TUS GRUPOS
    </ion-item>
    <div class="row">
      <div class="col col-50">
        <ion-list type="card">
          <ion-item class="item-image">
            <img src="img/1.jpeg" class="full-image" alt="">
          </ion-item>
          <ion-item>
            <h2>Hybrid Apps Colombia</h2>
          </ion-item>
        </ion-list>
      </div>
      <div class="col col-50">
        <ion-list type="card">
          <ion-item class="item-image">
            <img src="img/1.jpeg" class="full-image" alt="">
          </ion-item>
          <ion-item>
            <h2>Hybrid Apps Colombia</h2>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <ion-list type="card">
          <ion-item class="item-image">
            <img src="img/1.jpeg" class="full-image" alt="">
          </ion-item>
          <ion-item>
            <h2>Hybrid Apps Colombia</h2>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>

