<ion-tabs class="tabs-icon-top tabs-assertive">
  <!-- Activity Tab -->
  <ion-tab title="Actividad" icon="ion-pound" href="#/tab/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Calendario"  icon="ion-calendar" href="#/tab/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Grupos" icon="ion-person-stalker" href="#/tab/groups">
    <ion-nav-view name="tab-groups"></ion-nav-view>
  </ion-tab>
  
  <!-- Account Tab -->
  <ion-tab title="Mensajes" icon="ion-chatboxes" href="#/tab/messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>
  
  <!-- Account Tab -->
  <ion-tab title="Perfil" icon="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
</ion-tabs>
